.App {
  text-align: center;
  background-color: #2d65d6;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  display: inline;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: 30px;
  color: rgb(34, 81, 221);
}

input, button {
  padding: 20px;
  margin: 10px;
  font-size: 50px;
}

ul {
  list-style-type: none;
  padding: 10px;
}

li {
  margin: 20px;
}

.edit {
  /* width: 500px; 원하는 너비 설정 */
  /* padding: 5px; */
  /* border: 3px solid #061141; */
}

.editListSpan {
  background-color: rgb(34, 81, 221);
  font-size: 50px; /* 원하는 글씨 크기 설정 */
  /* font-family: 'Arial', sans-serif;  */
  /* 원하는 글꼴 설정 */
  font-family: 'Noto Sans KR', sans-serif;
}

.editListA {
  color: rgb(228, 226, 231);

}

.todoImage img {
  width: 20%;   /* 원하는 너비로 변경 */
  height: 20%;  /* 원하는 높이로 변경 */
}







/*  */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
